.header1{
  background: black;
  background-color: white ;  padding: 10px 16px;
  background: black;
  background-color: white ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border:1px solid #abc;
  border-bottom:  none ; 
  color: white;
  z-index: 1 ;
  height:70px ; 
}